input[type="text"],
textarea {
  margin-bottom: 10px;
  width: 30%;
  padding: 8px;
  box-sizing: border-box;
}


button {
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
}

form input {

  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;

}

form p {
  font-size: 24px;
  text-align: center;


}

form textarea {
  width: 300px;
  text-align: center;
  border-radius: 12px;
  text-transform: uppercase;



}

form {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 10px;
}